{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>{{ entry.topic }}</h2>
{% endblock page_header %}

{% block content %}
  <label>Usuwanie wpisu: {{entry}} z dnia {{entry.date_added}}</label>
  <form class="form" method='post'action=".">
    {% csrf_token %}
    <button class="btn btn-danger" name="submit">Usuń wpis</button>
    <a class="btn btn-secondary" href="{% url 'learning_logs:topic' entry.topic.id %}">Anuluj</a>
  </form>
{% endblock content %}

