{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
      <h1 class="display-3">Track your learning</h1>
      {% if user.is_authenticated %}
        <p class="lead">
            Hello, {{ user.username }}. Make your own Learning Log, and keep a list of the topics you're learning about.
            Whenever you learn something new about a topic, make an entry summarizing what you've learned.
        </p>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">Proceed to the topic list &raquo;</a>
      {% else %}
        <p class="lead">
          Create an account to start using Learning Log app. Make your own log and keep a list of the topics you're learning about.
          Whenever you learn something new about a topic, make an entry summarizing what you've learned.
        </p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Create an account &raquo;</a>
      {% endif %}
  </div>
{% endblock page_header %}
