{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>{{topic}}</h2>
{% endblock page_header %}

{% block content %}
  <label>Add a new entry:</label>
  <form class="form" method='post'action="{% url 'learning_logs:new_entry' topic.id %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" name="submit">Add entry</button>
    <a class="btn btn-secondary" href="{% url 'learning_logs:topic' topic.id %}">Cancel</a>
  </form>
{% endblock content %}