{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>
    Tematy
  </h1>
{% endblock page_header %}

{% block content %}
  <div class="list-group">
    {% for topic in topics %}
        <h4>
          <a class="list-group-item list-group-item-action" href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic }}
          </a>
        </h4>
    {% empty %}
        <h4>
          Nie został jeszcze dodany żaden temat.
        </h4>
    {% endfor %}
  </div>

    <a class="btn btn-primary btn-lg" href="{% url 'learning_logs:new_topic' %}">
      Dodaj nowy temat
    </a>

{% endblock content %}